@page "/Inicio"
@inject NavigationManager Navigation
@inject SesionUsuario Sesion
@implements IDisposable

<h3>Bienvenido, @Sesion.Usuario?.Nombre</h3>

@if (Sesion.Usuario is null)
{
    <p>No hay sesión iniciada.</p>
}
else
{
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <NavLink class="nav-link" href="/MisDatos">Datos personales</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Reservas">Reservas</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Personas">Personas</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Eventos">Eventos</NavLink>
    </li>
</ul>

}

<button class="btn btn-danger mt-3" @onclick="CerrarSesion">Cerrar sesión</button>

@code {
    protected override void OnInitialized()
    {
        Sesion.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        Sesion.OnChange -= StateHasChanged;
    }

    private void CerrarSesion()
    {
        Sesion.CerrarSesion();
        Navigation.NavigateTo("/Login");
    }
}
