@page "/Login"
@inject NavigationManager Navigation
@inject SesionUsuario Sesion
<h3>Iniciar sesión</h3>

<EditForm Model="modeloLogin" OnValidSubmit="IniciarSesion" FormName="aaaaa">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Email:</label>
        <InputText class="form-control" @bind-Value="email" />
    </div>

    <div class="mb-3">
        <label>Contraseña:</label>
        <InputText class="form-control" type="password" @bind-Value="password" />
    </div>

    <button class="btn btn-primary" type="submit">Ingresar</button>
</EditForm>

@code {
    private LoginModel modeloLogin = new();
    private string email;
    private string password;

    private void IniciarSesion()
    {
        // simulo que el login siempre es válido
        Sesion.IniciarSesion(email);

        // redirijo al inicio del sistema
        Navigation.NavigateTo("/Inicio");
    }
    private class LoginModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}


