@page "/"
<h1>Bienvenido/a al Sistema de Gesti칩n del Centro Deportivo Universitario</h1>

<p>Por favor, inici치 sesi칩n o registrate para continuar.</p>

<div class="d-flex gap-2">
    <a class="btn btn-primary" href="Login">Iniciar Sesi칩n</a>
    <a class="btn btn-secondary" href="Registro">Registrarse</a>
</div>